.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    color: red;
}